@media screen and (min-width: 899px) {
  .nav > ul a:hover {
    color: #00ff84;
  }

  .nav > ul a::before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 0px;
    top: 38px;
    left: 0px;
    border-radius: 20px;
    background-image: linear-gradient(to left, #5dffb0, #00ff84, #011e11);
    transition: width 0.5s ease;
  }

  .nav > ul a:hover:before {
    width: 100%;
  }

  .sobre {
    padding: 7em 3em;
  }

  .service-excel {
    padding-top: 6em;
  }

  .youtube {
    padding-top: 7em;
  }

  .beneficios {
    padding: 4em 1em;
  }

  .contato {
    padding: 5em 2em 3em 2em;
  }
}

@media screen and (max-width: 900px) {
  /* Media do Nav */
  .nav {
    padding: 0.8em 2em;
  }

  .nav > ul {
    visibility: hidden;
    display: flex;
    position: absolute;
    background-color: #011e11;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav > ul > li {
    width: 80%;
    text-align: center;
    padding: 1em;
  }

  .nav > ul > li:hover {
    background-color: #022817;
  }

  .nav > ul a {
    font-size: 1.3em;
  }

  .btn-menu {
    visibility: visible;
    z-index: 11;
  }

  /* Media do Header */

  .groupHeader-elements {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 1em;
    padding-top: 6em;
  }

  .groupHeader-primary {
    align-items: center;
    padding: 2em;
    gap: 3rem;
    padding-bottom: 3em;
  }

  .groupHeader-primary > .titleHeader-secundary {
    text-align: center;
  }

  .groupHeader-secundary {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle {
    right: auto;
    top: auto;
  }
  .img {
    right: auto;
  }

  /* Media Sobre */

  .sobre {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5em;
  }

  .textSobre {
    text-align: center;
  }

  .titleSobre {
    text-align: center;
  }

  .groupSobre-primary img {
    max-width: 22em;
    max-height: 20em;
  }

  /* Media do Excel */

  .groupServiceExcel-terciary {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5em;
  }

  .data {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 10em;
    row-gap: 0em;
    column-gap: 1em;
  }

  .service-excel {
    grid-template-rows: 1fr 4em 25em;
  }

  /* Media do Google Sheets */

  .groupServiceGoogle-secundary {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.5em;
  }

  .service-google-sheets {
    grid-template-rows: 1fr 24em;
  }

  /* Media do YouTube */

  .youtube {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20em 5em;
    width: 80%;
    padding: 6em 0 4em 0;
  }

  .groupYouTube-primary {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .groupYouTube-secundary {
    grid-column: 1 / -1;
    justify-content: center;
  }

  .groupYouTube-terciary {
    grid-column: 1 / -1;
  }

  .groupTouTube-texts {
    gap: 3em;
  }

  .titleContato {
    text-align: center;
  }

  .textYoutube {
    text-align: center;
  }

  /* Media Beneficios */

  .groupBeneficios-secundary {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .beneficio-item {
    margin: auto;
    width: 60%;
  }

  .groupBeneficios-primary {
    text-align: center;
  }

  /* Media do Contato */

  .contato {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 1em;
  }

  .groupContato-primary {
    text-align: center;
    gap: 3em;
    padding: 2em 1em;
  }

  .groupContato-texts-top {
    width: 100%;
  }

  .groupContato-texts-bottom {
    width: 100%;
  }

  .groupContato-button {
    margin: auto;
  }

  .groupContato-select-redes-sociais {
    margin: auto;
  }

  .link-contato-icon {
    font-size: 2em;
  }
}

@media screen and (max-width: 846px) {
  .nav > ul a {
    font-size: 1.3em;
  }

  .data {
    height: 12em;
  }

  .groupServiceGoogle {
    background-color: var(--primary-color);
  }

  .service-excel {
    grid-template-rows: 1fr 4em 26em;
    padding: 6.5em 0 2em 0;
  }

  .service-google-sheets {
    grid-template-rows: 1fr 28em;
  }

  .beneficios {
    padding: 6em 1em;
    row-gap: 2em;
  }

  .contato {
    padding: 5em 1em;
  }
}

@media screen and (max-width: 678px) {
  .groupDuvidas-title {
    font-size: 1.4em;
    padding: 0 0.5em;
  }

  .groupDuvidas-primary {
    padding: 0;
  }

  .groupDuvidas-secundary {
    padding: 0em;
  }

  .duvidas {
    padding: 5em 1em;
    row-gap: 1em;
  }
}

@media screen and (max-width: 620px) {
  /* Estilos Header */

  .groupHeader > .header {
    padding-bottom: 0em;
  }

  .btn {
    width: 16em;
  }

  .groupHeader-primary > .titleHeader-primary {
    font-size: 0.8em;
  }

  .groupSobre {
    padding: 3em 0em;
  }

  .groupServiceExcel {
    padding: 3em 0 1em 0;
  }

  .groupHeader-primary > .titleHeader-secundary {
    font-size: 2.3rem;
    width: 9em;
  }

  .groupHeader-primary > .btn {
    width: 16em;
    font-size: 0.9em;
  }

  .circle {
    max-width: 17em;
    max-height: 17em;
  }

  .img {
    width: 100%;
    max-width: 14em;
  }

  /* Estilos do Sobre */

  .sobre {
    grid-template-rows: 21em 1fr;
    padding: 1em;
    padding-bottom: 2em;
  }

  .groupSobre-primary img {
    max-width: 18em;
    max-height: 17em;
  }

  .titleSobre {
    font-size: 2.3rem;
    line-height: 43px;
  }

  .textSobre {
    font-size: 0.8em;
  }

  .groupSobre-secundary-texts {
    gap: 2rem;
    width: 19em;
  }

  /* Estilos Excel */

  .service-excel {
    padding: 2em;
    grid-template-rows: 1fr 3em auto;
  }

  .groupServiceExcel-primary > .titleServiceExcel-primary {
    font-size: 2.1em;
  }

  .groupServiceExcel-secundary {
    justify-content: center;
  }

  .titleService-secundary {
    font-size: 1.8em;
  }

  .groupServiceExcel-terciary {
    grid-template-columns: 1fr;
    grid-gap: 1.5em;
  }

  .data {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 15em;
    row-gap: 1em;
    column-gap: 0em;
    width: 13em;
    margin: auto;
  }

  /* Estilos Google */

  .service-google-sheets {
    grid-template-rows: 1fr auto;
    padding-bottom: 1em;
  }

  .groupServiceGoogle-primary {
    justify-content: center;
  }

  .groupServiceGoogle-secundary {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1.5em;
  }

  /* Estilos YouTube */

  .youtube {
    padding-top: 4em;
    width: 100%;
    max-width: 26em;
    grid-template-rows: 1fr 17em 5em;
  }

  .groupTouTube-texts {
    gap: 2em;
    width: 19em;
  }

  .titleContato {
    font-size: 2.1em;
    letter-spacing: 0px;
    line-height: 1em;
  }

  .textYoutube {
    font-size: 1em;
    line-height: 1.3em;
  }

  .btnYoutube {
    width: 16em;
    height: 3.7em;
    font-size: 0.8em;
  }

  /* Estilos Beneficios */

  .beneficios {
    width: 90%;
    max-width: 26em;
    row-gap: 1em;
    padding-top: 4em;
  }

  .title-beneficios {
    font-size: 2.1em;
    letter-spacing: 0px;
  }

  .groupBeneficios-secundary {
    padding: 0em 1em;
    padding-bottom: 1em;
    gap: 2em;
  }

  .beneficio-item {
    gap: 0.8em;
  }

  .beneficio-item-circle-externo {
    width: 10em;
    height: 10em;
  }

  .beneficio-item-circle-interno {
    width: 9em;
    height: 9em;
  }

  .icons-beneficios {
    width: 5em;
    height: 5em;
  }

  .beneficio-item-title {
    font-size: 1.1em;
  }

  .beneficio-item-text {
    font-size: 0.89em;
  }

  /* Estilos Duvidas */

  .groupDuvidas-title {
    font-size: 1.1em;
    padding: 0 0.5em;
  }

  .groupDuvidas-primary {
    padding: 0;
  }

  .groupDuvidas-secundary {
    padding: 0em;
  }

  .duvidas {
    padding: 3em 1em;
    row-gap: 1em;
  }

  .groupDuvidas-pergunta {
    font-size: 1.2em;
  }

  .groupDuvidas-respostas {
    font-size: 0.9em;
  }

  /* Estilos Contao */

  .contato {
    padding: 4em 0em 1em 0;
  }

  .groupContato-primary {
    gap: 3em;
    padding: 1em 1em;
  }

  .groupContato-title {
    font-size: 2.1em;
  }

  .groupContato-legend {
    font-size: 0.85em;
  }

  .groupContato-button {
    font-weight: 800;
    width: 11em;
    font-size: 0.88em;
    letter-spacing: 0px;
  }

  .groupContato-texts-bottom {
    gap: 1.9em;
  }

  .legend-contato {
    font-size: 1em;
  }

  .contato-link {
    font-size: 0.89em;
  }

  .image-contato {
    max-width: 10em;
    min-width: 14em;
  }

  .circle-img-contato {
    max-width: 20em;
    max-height: 23em;
  }

  .link-contato-icon {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 485px) {

  .groupDuvidas-title {
    font-size: 1em;
  }
}

@media screen and (max-width: 430px) {
  /* Estilos Nav */

  /* Estilos do Header */
  .nav > ul a {
    font-size: 1.3em;
  }

  .groupHeader-primary > .titleHeader-primary {
    font-size: 0.759em;
  }

  .groupHeader-primary {
    gap: 2.5rem;
  }

  .groupHeader-primary > .titleHeader-secundary {
    font-size: 2rem;
  }

  .groupHeader-elements {
    grid-template-rows: 1fr 19em;
    padding: 6em 0 3em 0;
  }

  .groupHeader-primary > .btn {
    width: 15em;
    font-size: 0.85em;
  }

  .img {
    max-width: 12em;
  }

  .circle {
    max-width: 15em;
    max-height: 15em;
  }

  /* Estilos Sobre */

  .sobre {
    grid-template-rows: 17em 1fr;
    padding: 1em 0em;
    padding-bottom: 3em;
  }

  .groupSobre-secundary-texts {
    width: 16em;
  }

  .groupSobre-primary img {
    max-width: 14em;
    max-height: 13em;
  }

  .titleSobre {
    font-size: 1.9rem;
    line-height: 35px;
  }

  .textSobre {
    font-size: 0.85em;
    line-height: 21px;
  }

  /* Estilos Excel */

  .service-excel {
    padding: 2.5em 1em;
    grid-template-rows: 1fr 4em auto;
  }

  .groupServiceExcel-primary > .titleServiceExcel-primary {
    font-size: 1.8em;
  }

  .titleService-secundary {
    font-size: 1.5em;
  }

  .data {
    row-gap: 0.5em;
    column-gap: 0em;
    width: 12em;
  }

  .data-title {
    line-height: 18px;
    font-size: 0.9em;
  }

  .data-descricao {
    font-size: 0.78em;
  }

  /* Estilos YouTube */

  .youtube {
    padding: 4em 0em;
    grid-template-rows: 1fr 17em 5em;
  }

  .titleContato {
    font-size: 1.9em;
  }

  .textYoutube {
    font-size: 0.95em;
    line-height: 1.3em;
  }

  .groupTouTube-texts {
    gap: 1.3em;
    width: 18em;
  }

  .btnYoutube {
    width: 14em;
    height: 3.5em;
    font-size: 0.8em;
  }

  /* Estilo do Beneficios */

  .beneficios {
    grid-template-rows: 6em 1fr;
    padding: 4em 0em;
  }

  .beneficio-item-circle-externo {
    width: 9em;
    height: 9em;
  }

  .title-beneficios {
    font-size: 1.87em;
    line-height: 1.1em;
  }

  .beneficio-item-circle-interno {
    width: 8em;
    height: 8em;
  }

  .icons-beneficios {
    width: 4em;
    height: 4em;
  }

  .beneficio-item-title {
    font-size: 0.98em;
    line-height: 1em;
  }

  .beneficio-item-text {
    font-size: 0.84em;
  }

  /* Estilos de Contatos */

  .contato {
    padding: 0;
    padding-top: 4em;
  }

  .groupContato-primary {
    padding: 0em 0em;
  }

  .groupContato-texts-top {
    gap: 0.8em;
  }

  .groupContato-title {
    font-size: 1.9em;
  }

  .groupContato-legend {
    font-size: 0.76em;
  }

  .groupContato-button {
    width: 10em;
    height: 3.3em;
    font-size: 0.69em;
  }

  .groupContato-primary {
    gap: 2em;
  }

  .legend-contato {
    font-size: 0.86em;
  }

  .contato-link {
    font-size: 0.8em;
  }

  .selectContato {
    gap: 0.2em;
  }

  .groupContato-texts-bottom {
    gap: 1.3em;
  }

  .circle-img-contato {
    max-width: 14em;
    max-height: 15em;
  }

  .image-contato {
    max-width: 7em;
    min-width: 11em;
  }

  .link-contato-icon {
    font-size: 1.3em;
  }

  /* Estilos do Footer */

  .text-footer {
    font-size: 1em;
  }
}

@media screen and (max-width: 380px) {
  /* Estilos Header */

  .btn {
    width: 14em;
  }

  .nav > ul a {
    font-size: 1.3em;
  }

  .groupHeader-primary {
    gap: 2rem;
    padding: 2em 0em;
  }

  .groupHeader-elements {
    grid-template-rows: 1fr 17em;
    padding-bottom: 2.5em;
  }

  .groupHeader-primary > .titleHeader-primary {
    font-size: 0.8em;
  }

  .groupHeader-primary > .titleHeader-secundary {
    font-size: 2rem;
    width: 10em;
  }

  .groupHeader-primary > .btn {
    width: 14em;
    font-size: 0.78em;
  }

  .circle {
    max-width: 14em;
    max-height: 14em;
  }

  .img {
    max-width: 11em;
  }

  /* Estilos do Sobre */

  .groupSobre-primary img {
    max-width: 13em;
    max-height: 13em;
  }

  .titleSobre {
    font-size: 1.5rem;
    line-height: 28px;
  }

  .groupSobre-secundary-texts {
    gap: 1.5rem;
    width: 16em;
  }

  /* Estilos Excel */

  .service-excel {
    grid-template-rows: 1fr 3.5em auto;
  }

  .groupServiceExcel-primary > .titleServiceExcel-primary {
    font-size: 1.5em;
  }

  .titleService-secundary {
    font-size: 1.3em;
  }

  /* Estilos YouTube */
  .titleContato {
    font-size: 1.5em;
  }

  .textYoutube {
    font-size: 0.84em;
    line-height: 1.3em;
  }

  .btnYoutube {
    width: 14em;
    height: 3.5em;
    font-size: 0.74em;
  }

  /* Estilos Beneficios */

  .beneficios {
    row-gap: 0em;
  }

  .groupBeneficios-secundary {
    gap: 1em;
  }

  .title-beneficios {
    font-size: 1.5em;
  }

  .beneficio-item {
    width: 86%;
  }

  .beneficio-item-title {
    font-size: 0.9em;
  }

  .beneficio-item-text {
    font-size: 0.8em;
  }

  .icons-beneficios {
    width: 3.6em;
    height: 3.6em;
  }

  .beneficio-item-circle-interno {
    width: 7em;
    height: 7em;
  }

  .beneficio-item-circle-externo {
    width: 8em;
    height: 8em;
  }

  /* Estilos Contato */

  .groupContato-title {
    font-size: 1.5em;
  }

  .groupContato-legend {
    font-size: 0.7em;
  }
  .legend-contato {
    font-size: 0.8em;
  }

  .contato-link {
    font-size: 0.7em;
  }
  .circle-img-contato {
    max-width: 12em;
    max-height: 13em;
  }

  .image-contato {
    max-width: 6em;
    min-width: 10em;
  }

  .link-contato-icon {
    font-size: 1.3em;
  }

  /* Estilos Footer */

  .text-footer {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 345px) {
  .groupHeader-primary > .titleHeader-secundary {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 320px) {
  .nav > ul > li {
    padding: 0.5em;
  }
  .nav > ul a {
    font-size: 1.2em;
  }

  .groupHeader-elements {
    padding-top: 5em;
  }
}
