:root {
  --opacity-hidden: 0;
  --filter-hidden: blur(5px);
  --transition-fast: all 0.5s;
  --transition-slow: all 1s;
  --transform-hidden-inicio: translateX(-13%);
  --transform-hidden-default: translateX(13%);
  --transform-hidden-beneficios: translateY(100%);
  --opacity-show: 1;
  --filter-show: blur(0);
  --transform-show: translateX(0);
  --transform-show-beneficios: translateY(0);
}

/* Efeito Inicio */
.hidden-inicio {
  opacity: var(--opacity-hidden);
  filter: var(--filter-hidden);
  transition: var(--transition-fast);
  transform: var(--transform-hidden-inicio);
}

.show-inicio {
  opacity: var(--opacity-show);
  filter: var(--filter-show);
  transform: var(--transform-show);
  transition: var(--transition-slow);
}

/* Efeito Sobre */
.hidden-sobre {
  opacity: var(--opacity-hidden);
  filter: var(--filter-hidden);
  transition: var(--transition-slow);
  transform: var(--transform-hidden-default);
}

.show-sobre {
  opacity: var(--opacity-show);
  filter: var(--filter-show);
  transform: var(--transform-show);
  transition: var(--transition-slow);
}

/* Efeito YouTube */
.hidden-youtube {
  opacity: var(--opacity-hidden);
  filter: var(--filter-hidden);
  transition: var(--transition-slow);
  transform: var(--transform-hidden-default);
}

.show-youtube {
  opacity: var(--opacity-show);
  filter: var(--filter-show);
  transform: var(--transform-show);
  transition: var(--transition-slow);
}

/* Efeito Beneficios */
.hidden-beneficios {
  opacity: var(--opacity-hidden);
  filter: var(--filter-hidden);
  transition: var(--transition-slow);
  transform: var(--transform-hidden-beneficios);
}

.show-beneficios {
  opacity: var(--opacity-show);
  filter: var(--filter-show);
  transition: var(--transition-slow);
  transform: var(--transform-show-beneficios);
}
