@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --primary-font: "DM Sans", sans-serif;
  --secundary-font: "Poppins", sans-serif;
  --terciary-font: "Open Sans", sans-serif;

  --primary-color: #011e11;
  --secundary-color: #79b699;

  --max-width-sections: 960px;
  --width-sections: 90%;

  --btn-hover-box-shadow: 0px 0px 10px #316d50;

  --circle-blur-filter: blur(23px);
  --transition-ease: ease-in-out;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}



/* Estilos do nav */

.groupNav {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100vw;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width-sections);
  margin: auto;
  padding: .5em 1em;
}

.btn-menu {
  border: none;
  background-color: transparent;
  width: 3em;
  visibility: hidden;
  color: white;
  font-size: 3em;
  text-align: end;
}


.nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0em;
  
}

.nav > ul a {
  text-decoration: none;
  color: white;
  font-family: var(--secundary-font);
  font-size: .96em;
  padding: 1em;
  position: relative;
  transition: color .5s ease;
}


/* Estilos do Heaader */

.groupHeader {
  background-color: var(--primary-color);
}

.groupHeader > .header {
  width: var(--width-sections);
  max-width: var(--max-width-sections);
  margin: auto;
  min-height: fit-content;
  padding-bottom: 5em;
}

.groupHeader-elements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: inherit;
  padding-top: 6em;
}

.groupHeader-primary {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 1em;
}

.groupHeader-primary > .titleHeader-primary {
  font-family: var(--secundary-font);
  font-weight: 800;
  color: var(--secundary-color);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1em;
}

.groupHeader-primary > .titleHeader-secundary {
  color: white;
  font-family: var(--primary-font);
  font-size: 3rem;
  font-weight: 800;
  width: 8em;
  letter-spacing: 2px;
}

 .btn {
  width: 20em;
  padding: 1.2em;
  border: none;
  background-image: linear-gradient(to right, #0097b2, #79b699);
  border-radius: 40px;
  cursor: pointer;
  transition-property: transform, box-shadow;
  transition-duration: .3s;
  transition-timing-function: var(--transition-ease);
  font-size: 1em;
  text-decoration: none;
  font-weight: 800;
  color: white;
  font-family: var(--secundary-font);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.btn:hover {
  transform: scale(103%);
  box-shadow: var(--btn-hover-box-shadow);
}


.groupHeader-secundary {
  position: relative;
  padding: 2em;
}

.circle {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  max-width: 22em;
  max-height: 22em;
  border-radius: 50%;
  background-color: #7eebb83e;
  filter: var(--circle-blur-filter);
  right: 35px;
  top: 54px;
  animation: float 3s var(--transition-ease) infinite;
}

.img {
  z-index: 1;
  position: absolute;
  width: 100%;
  max-width: 18em;
  clip-path: polygon(
    35% 14%,
    100% 11%,
    80% 100%,
    19% 77%,
    14% 53%,
    0 38%,
    5% 0
  );
  right: 45px;
  animation: float 3s var(--transition-ease) infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}




/* Estilos do Sobre */

.groupSobre {
  background-color: var(--secundary-color);
}

.sobre {
  width: var(--width-sections);
  max-width: var(--max-width-sections);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.groupSobre-primary {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.groupSobre-primary img {
  clip-path: polygon(0 0, 83% 0, 100% 100%, 19% 100%);
  width: 100%;
  max-width: 26em;
  height: 100%;
  max-height: 24em;
}

.groupSobre-secundary {
  display: flex;
  align-items: center;
  justify-content: center;
}

.groupSobre-secundary-texts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 22em;
}

.titleSobre {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 2.7em;
  line-height: 50px;
  color: black;
}

.textSobre {
  font-family: var(--primary-font);
  font-size: .9em;
  line-height: 28px;
  color: black;
}





/* Estilos do Serviço (Excel) */

.groupServiceExcel {
  background-color: var(--primary-color);
}

.service-excel {
  width: var(--width-sections);
  max-width: var(--max-width-sections);
  margin: auto;
  padding-top: 5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5em 4em 22em;
}

.link-planilha {
  text-decoration: none;
}

.groupServiceExcel-primary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.groupServiceExcel-primary > .titleServiceExcel-primary {
  font-family: var(--primary-font);
  text-align: center;
  font-size: 2.4em;
  color: var(--secundary-color);
}

.groupServiceExcel-secundary {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1em;
}

.titleService-secundary {
  font-family: var(--primary-font);
  text-align: left;
  font-size: 2.2em;
  color: var(--secundary-color);
}

.groupServiceExcel-terciary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1em;
  column-gap: 1.5em;
}

.data {
  background-color: var(--secundary-color);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: .6em;
  row-gap: 1em;
  height: 18em;
  overflow: hidden;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: .5s;
  transition-timing-function: ease;
}

.data:hover {
  box-shadow: 0px 0px 21px #00ff37;
}

.groupData-img-1,
.groupData-img-2,
.groupData-img-3,
.groupData-img-4,
.groupData-img-5,
.groupData-img-6,
.groupData-img-7,
.groupData-img-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.groupData-img-1 {
  background-image: url('../image/excel-04.webp');
}

.groupData-img-2 {
  background-image: url('../image/excel-01.webp');
}

.groupData-img-3 {
  background-image: url('../image/excel-03.webp');
}

.groupData-img-4 {
  background-image: url('../image/excel-02.webp');
}

.data-title {
  font-family: var(--secundary-font);
  color: var(--primary-color);
  text-align: center;
  line-height: 20px;
  font-size: .99em;
}

.data-descricao {
  font-family: var(--primary-font);
  color: var(--primary-color);
  text-align: center;
  font-size: .82em;
  margin-top: .5em;
}

/* Estilos do Serviço (Google Sheets) */

.groupServiceGoogle {
  background-color: var(--primary-color);
}

.service-google-sheets {
  width: var(--width-sections);
  max-width: var(--max-width-sections);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 22em;
  padding-bottom: 2em;
}

.groupServiceGoogle-primary {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1em;
}

.groupServiceGoogle-secundary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1em;
  column-gap: 1.5em;
}


.groupData-img-5 {
  background-image: url('../image/google-2.webp');
}

.groupData-img-6 {
  background-image: url('../image/google-1.webp');
}

.groupData-img-7 {
  background-image: url('../image/google-3.webp');
}

.groupData-img-8 {
  background-image: url('../image/google-4.webp');
}




/* Estilos do YouTube */

.groupYouTube {
  background-color: var(--secundary-color);
}

.youtube {
  display: grid;
  width: var(--width-sections);
  margin: auto;
  max-width: var(--max-width-sections);
  grid-template-columns: 25em 1fr;
  grid-template-rows: 3fr 1fr;
  padding-top: 4em;
  padding-bottom: 0;
}

.groupYouTube-primary {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.groupTouTube-texts {
  display: flex;
  flex-direction: column;
  gap: 5em;
  padding: 1em;
}

.titleContato {
  font-family: var(--primary-font);
  font-size: 2.9em;
  font-weight: 600;
  color: var(--primary-color);
  letter-spacing: 2px;
}

.textYoutube {
  font-family: var(--secundary-font);
  font-weight: bolder;
  font-size: 1.3em;
  line-height: 1.5em;
  color: var(--primary-color);
}

.groupYouTube-secundary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 1em;
}

.btnYoutube {
  width: 18em;
  height: 3.5em;
  border: 3px solid white;
  background-color: var(--secundary-color);
  border-radius: 30px;
  transition-property: transform, box-shadow;
  transition-duration: .3s;
  transition-timing-function: var(--transition-ease);
  cursor: pointer;
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-weight: bolder;
  color: white;
  font-size: 1em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}



.btnYoutube:hover {
  transform: scale(103%);
  box-shadow: var(--btn-hover-box-shadow);
}

.groupYouTube-terciary {
  display: flex;
  justify-content: center;
  align-items: baseline;
  grid-column: 2 / -1;
}






/* Estilos Benefícios */

.groupBeneficios {
  background-color: white;
  color: black;
}

.beneficios {
  width: var(--width-sections);
  max-width: var(--max-width-sections);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8em 1fr;
  padding: 2em 1em;
}

.groupBeneficios-primary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-beneficios {
  font-family: var(--primary-font);
  font-size: 2.7em;
  letter-spacing: 1.8px;
}

.groupBeneficios-secundary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
  padding: 0em 2em;
  padding-bottom: 2em;
}

.beneficio-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  align-items: center;
}

.beneficio-item-circle-externo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background-image: linear-gradient(to bottom right, #12ff46, #21a366, #7ed957);
}

.beneficio-item-circle-interno {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-color: white;
}

.icons-beneficios {
  width: 6em;
  height: 6em;
}

.beneficio-item-title {
  font-family: var(--secundary-font);
  width: 9em;
  text-align: center;
}

.beneficio-item-text {
  font-family: var(--primary-font);
  text-align: center;
}




/* Estilos das Duvidas */


.groupDuvidas {
  background-color: var(--secundary-color);
  color: black;
}

.duvidas {
  width: var(--width-sections);
  max-width: var(--max-width-sections);
  margin: auto;
  min-height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6em 1fr;
  padding: 5em 2em;
  row-gap: 2em;
}

.groupDuvidas-primary {
  display: flex;
  align-items: center;
  padding: 0 1em 0 1em;
  font-size: 2em;
}

.groupDuvidas-secundary {
  padding: 1em ;
}

.groupDuvidas-pergunta {
  font-family: var(--secundary-font);
  font-weight: bolder;
  font-size: 1.4em;
  padding: .7em 1em;
  color: var(--primary-color);
  cursor: pointer;
}

.groupDuvidas-pergunta:focus {
  outline: none;
}

.groupDuvidas-title {
  font-family: var(--primary-font);
  color: black;
  font-size: 1.5em;
}

.groupDuvidas-respostas {
  font-family: var(--secundary-font);
  padding: 1em 3em;
  font-size: 1.2em;
  line-height: 1.6em;
  color: rgb(27, 27, 27);
}



/* Estilos do Contato */

.groupContato {
  background-color: var(--primary-color);
}

.contato {
  width: var(--width-sections);
  max-width: var(--max-width-sections);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3em;
}

.groupContato-primary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  gap: 3em;
}

.groupContato-texts-top {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 35em;
}

.groupContato-title {
  font-family: var(--primary-font);
  color: var(--secundary-color);
  font-size: 3em;
}

.groupContato-legend {
  font-family: var(--primary-font);
  color: var(--secundary-color);
}

.groupContato-button {
  background-color: var(--secundary-color);
  border: none;
  width: 11.5em;
  padding: .7em;
  border-radius: 30px;
  transition-property: transform, box-shadow;
  transition-duration: .3s;
  transition-timing-function: var(--transition-ease);
  cursor: pointer;
  text-transform: uppercase;
  font-family: var(--secundary-font);
  font-weight: 800;
  font-size: 1em;
  letter-spacing: .5px;
  text-decoration: none;
  color: var(--primary-color);
  text-align: center;
}


.groupContato-button:hover {
  transform: scale(103%);
  box-shadow: var(--btn-hover-box-shadow);
}

.groupContato-texts-bottom {
  display: flex;
  flex-direction: column;
  width: 35em;
}

.groupContato-texts-bottom {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.selectContato {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.legend-contato {
  color: var(--secundary-color);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.1em;
  font-family: var(--primary-font);
}

.contato-link {
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-family: var(--primary-font);
  transition: color 0.5s ease;
}

.contato-link:hover {
  color: #00ff84;
}

.groupContato-select-redes-sociais {
  display: flex;
  gap: 1em;
}

.link-contato-icon {
  font-size: 1.5em;
}

.groupContato-secundary {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-contato {
  position: absolute;
  z-index: 1;
  position: absolute;
  width: 100%;
  max-width: 20em;
  min-width: 18em;
  clip-path: polygon(
    35% 14%,
    100% 11%,
    80% 100%,
    19% 77%,
    14% 53%,
    0 38%,
    5% 0
  );
  animation: float 3s var(--transition-ease) infinite;
}


.circle-img-contato {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  max-width: 26em;
  max-height: 26em;
  border-radius: 50%;
  background-color: #7eebb83e;
  filter: var(--circle-blur-filter);
  animation: float 3s var(--transition-ease) infinite;
}










/* Estilos Footer */

.groupFooter {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
}

.footer {
  padding: 1em;
  width: var(--width-sections);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-footer {
  font-family: var(--primary-font);
  color: var(--secundary-color);
  letter-spacing: 1px;
  font-size: 1.2em;
  text-decoration: none;
}